<div class="col-md-12">
	<!--<div class="imageContainer">
	    <img src="assets/trailer.jpg">
	</div>-->
	<div id="outer-frame">
	    <div id="image-frame">
	        <img src="assets/trailer.jpg" alt="" width="1115" height="955" />
	    </div>
	</div>
</div>