<div class="">
	<div class="royalSlider rsDefault">
	    <div>
			<%= image_tag('trailer.jpg', class: "rsImg") %>
			<div class="slideTitle">
				<a href="https://google.co.uk" target="blank">
					<h5 class="colour bigger">
						SPLIT MUSIC &amp; MONDKOPF NOMINATED FOR BEST SYNC AT MUSIC&amp;SOUND AWARDS
					</h5>
					<hr class="dots"/>
					<p class="artistDescription bigger2">
						We are massively proud to announce Mondkopf ‘s outstanding track “Eternal Dust”, featured on The Walking Dead Season 6 Comic Con Trailer, has been nominated for BEST SYNC - TRAILERS + PROMOS at the 2016 UK Music &amp; Sound awards.
					</p>
				</a>
			</div>
		</div>
		<div>
			<%= image_tag('elephant.jpg', class: "rsImg") %>
			<div class="slideTitle">
				<a href="https://google.co.uk" target="blank">
					<h5 class="colour bigger">
						SPLIT MUSIC &amp; MONDKOPF NOMINATED FOR BEST SYNC AT MUSIC&amp;SOUND AWARDS
					</h5>
					<hr class="dots"/>
					<p class="artistDescription bigger2">
						We are massively proud to announce Mondkopf ‘s outstanding track “Eternal Dust”, featured on The Walking Dead Season 6 Comic Con Trailer, has been nominated for BEST SYNC - TRAILERS + PROMOS at the 2016 UK Music &amp; Sound awards.
					</p>
				</a>
			</div>
		</div>
		<div>
			<%= image_tag('monochromie.jpg', class: "rsImg") %>
			<div class="slideTitle">
				<a href="https://google.co.uk" target="blank">
					<h5 class="colour bigger">
						SPLIT MUSIC &amp; MONDKOPF NOMINATED FOR BEST SYNC AT MUSIC&amp;SOUND AWARDS
					</h5>
					<hr class="dots"/>
					<p class="artistDescription bigger2">
						We are massively proud to announce Mondkopf ‘s outstanding track “Eternal Dust”, featured on The Walking Dead Season 6 Comic Con Trailer, has been nominated for BEST SYNC - TRAILERS + PROMOS at the 2016 UK Music &amp; Sound awards.
					</p>
				</a>
			</div>
		</div>
		
	</div>
</div>