<header role="banner">
	<button type="button" class="drawer-toggle drawer-hamburger">
		<span class="sr-only">toggle navigation</span>
		<%= image_tag('boxLogoWhite.png', class: "RSlogo") %>
	</button>
	<nav class="drawer-nav draw-left mobileResearchMenu" role="navigation">
	    <ul class="drawer-menu spacer">
			<div class="social">
				<div class="centerSocial researchSocials">
					<a href="https://www.facebook.com/researchlondon" target="_blank">
						<i class="fa fa-facebook fa-lg"></i>
					</a>
					<a href="http://smarturl.it/researchspheres" target="_blank">
						<i class="fa fa-shopping-cart fa-lg"></i>
					</a>
					<a class="fixMute" href="mailto:research@splitmusic.co.uk?Subject=Contact%20
					from%20the%20website" target="_top">
						<i class="fa fa-envelope-o fa-lg"></i>
					</a>
				</div>
			</div>
			<li class="mailer">
				<br/><br/>
				<h3 class="signUpTitle">Newsletter</h3>
				<form class="singUpForm" action="https://carbonlogic.createsend.com/t/r/s/uidthhu/" method="post" id="subForm">
				    <p>
				        <label for="fieldName">Name</label><br />
				        <input id="fieldName" name="cm-name" type="text" />
				    </p>
				    <p>
				        <label for="fieldEmail">Email</label><br />
				        <input id="fieldEmail" name="cm-uidthhu-uidthhu" type="email" required />
				    </p>
				    <p>
				        <button class="btn signUpSubmit" type="submit">Subscribe</button>
				    </p>
				</form>
			</li>
		</ul>
	</nav>
	<div class="royalSlider researchSlider rsDefault">
		<% @researches.each do |slide| %>
		    <div>
				<%= image_tag(slide.image, class: "rsImg") %>
			</div>
		<% end %>
	</div>
</header>
<script>
	
	var sliderInstance = $('.researchSlider').royalSlider({
		autoPlay: {
			// autoplay options go gere
	    	enabled: true,
	    	pauseOnHover: false,
			delay: 5000
		},
		imageAlignCenter: true,
		imageScaleMode: 'fill',
		loop: true,
		arrowsNav: true
	}).data("researchSlider");
	
		
</script>