<header role="banner">
	<button type="button" class="drawer-toggle drawer-hamburger">
		<span class="sr-only">toggle navigation</span>
		<span class="drawer-hamburger-icon"></span>
	</button>
	<nav class="drawer-nav draw-left mobileResearchMenu" role="navigation">
	    <ul class="drawer-menu spacer">
			<li class="navButton largeTextAndMargin">
				<a href="https://researchlabel.bandcamp.com/album/spheres" target="_blank">Preorder 12"</a>
			</li>
	    	<li class="navButton largeTextAndMargin">
				<a class="navigationButton clearFixer" href="mailto:briefs@splitmusic.co.uk?Subject=Contact%20
				from%20the%20website" target="_top">Contact</a>
			</li>
		</ul>
	</nav>
	<nav class="drawer-nav draw-top" role="navigation">
	    <ul class="drawer-menu spacerMobile">
			<li class="navButton largeTextAndMargin">
				<a href="https://researchlabel.bandcamp.com/album/spheres" target="_blank">Preorder 12"</a>
			</li>
	    	<li class="navButton largeTextAndMargin">
				<a class="navigationButton clearFixer" href="mailto:briefs@splitmusic.co.uk?Subject=Contact%20
				from%20the%20website" target="_top">Contact</a>
			</li>
		</ul>
    </nav>
	<div class="sliderOverlay">
		<%= image_tag("researchLogo.png", class: "researchLogo") %>
		<h1 class="researchHash">#researchspheres</h1>
	</div>
	<div class="royalSlider researchSlider rsDefault">
		<% @researches.each do |slide| %>
		    <div>
				<%= image_tag(slide.image, class: "rsImg") %>
			</div>
		<% end %>
	</div>
</header>
<script>
	
	var sliderInstance = $('.researchSlider').royalSlider({
		autoPlay: {
			// autoplay options go gere
	    	enabled: true,
	    	pauseOnHover: false,
			delay: 5000
		},
		imageAlignCenter: true,
		imageScaleMode: 'fill',
		loop: true,
		arrowsNav: true
	}).data("researchSlider");
	
		
</script>