<%= render :partial => 'admins/navigation' %>
<div class="col-md-10 cmsTable canScroll">
	<h2 style="color:#5cb85c"><em><%= flash[:notice] %></em></h2>
	<h2 class="titles2 placements">Artists</h2>
	<div>
		Line 1A & Line 1B are displayed on the slideshow but NOT displayed on the artists index page or artist display page<br/>
		Line 2A and Line 2B are not displayed on the slideshow but ARE displayed on the artists index page & artist display page<br/><br/>
	</div>
	<%= link_to 'Add New Artist', new_artist_path, class: "btn btn-success csvInput3"  %>
	
	<div id="artists"><%= render 'artists' %></div>
</div>