<div class="col-md-4 project relative">
	<div class="brandingTile">
		<div class="brandingLogo col-md-4">
			<%= image_tag('compLogo.png') %>
			<div class="social2 customSocial">
				<div class="">
					<a href="https://www.facebook.com/pages/Fairsplit-Music/609198105854352" target="_blank">
						<i class="fa fa-facebook fa-lg"></i>
					</a>
					<a href="https://twitter.com/FairsplitMusic" target="_blank">
						<i class="fa fa-twitter fa-lg"></i>
					</a>
					<a href="" target="_blank">
						<i class="fa fa-instagram fa-lg"></i>
					</a>
					<a href="https://www.youtube.com/channel/UCcjbocHGR4WaSlrkqSfbwBg" target="_blank">
						<i class="fa fa-youtube fa-lg"></i>
					</a>
					<a href="https://soundcloud.com/fairsplit-music" target="_blank">
						<i class="fa fa-soundcloud"></i>
					</a>
					<span class="pipe">|</span> 
					<a class="fixMute envelopeDropdowner">
						<i class="fa fa-envelope-o fa-lg"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>