<div class="customMenu">
	<a class="customBrandIcon2" %></a>
	<div class="subMenu2">
		<div class="center">
			<h1 class="bespokeHeader marginMinify">ENQUIRIES</h1>
			<h4 class="customDeets"><a href="mailto:sean@splitmusic.co.uk?Subject=Contact%20from%20the%20website"
			 target="_top">sean@splitmusic.co.uk</a></h4>
			<h4 class="customDeets">Sean - 07725608161</h4>
		</div>
	</div>
	<div class="overlay3"></div>
</div>