.textField {width:30%;margin:0% 1.5%;float:left;}
.textArea {width:96%;margin:0 1.5%;}
.vimeoSectionInForm {width:96%;margin:10px 1.5%;border:1px dotted white;float:left;padding:10px 16px 16px 16px;border-radius:5px;}
.vimeoSectionInForm2 {width:30%;margin:10px 1.5%;border:1px dotted white;float:left;padding:10px 16px 16px 16px;border-radius:5px;}
.customTitles, .smallText {margin:10px;font-size:28px;}
.formContent {padding:0% 8% 0% 4%;}
.fullWidthField {width:96%;margin:10px 1.5%;float:left;border:1px dotted white;border-radius:5px;padding:10px 16px 16px 16px;}
.submitLarge {width:96%;margin:2% 1.5% 10%;float:left;text-align:center;}
.btnLarge {width:150px;height:60px;}
.customVideoTitle {font-size:14px!important;margin:10px 0px 30px 0px;}