<div data-role="panel" id="rightpanel2" data-position="right" data-display="push" data-theme="b">
	<%= image_tag(@clogo.image, class: "center") %>
    <ul class="composition">
		<li><%= link_to("Showreel", compositions_showreel_path) %></li>
		<li><%= link_to("Artists", customs_path) %></li>
		<li><a href="mailto:sean@splitmusic.co.uk?Subject=Composition%contact" target="_top">Contact</a></li>
	</ul>
</div>