<div class="col-md-8">
	<div class="rightSide">
		<div id="content">
				<div class="">
		    		<div id="container" class="clearfix">
						<div class="elementContainer clearfix announcements">
							<div class="rightHandSection2">
								<div>
									<%= yield %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>